
@import 'sass/helpers/variables';
@import 'sass/helpers/mixins';
@import 'sass/layout/grid';
@import 'sass/components/headngs';
@import 'sass/components/buttons';

@import 'sass/pages/globalpage';
@import 'sass/layout/header';
@import 'sass/pages/home';
@import 'sass/layout/footer'; 